/Selenium/coockie_project.py
/InternetSpeedTest/main.py
/Test_Project/main.py
/Selenium/main_amazon.py
/Test_Project/.idea/misc.xml
/Test_Project/.idea/modules.xml
/Test_Project/.idea/inspectionProfiles/profiles_settings.xml
/Test_Project/.idea/inspectionProfiles/Project_Default.xml
/Selenium/python_site.py
/Selenium/quiz.py
/Test_Project/.idea/Test_Project.iml
/Test_Project/.idea/vcs.xml
/Selenium/wiki_interactions.py
/Test_Project/.idea/workspace.xml
